.sender{
  width: 15%;
  color: #D4B996;
}
.sender-hide{
  display: none;
}
.sender-type{
  color: #D4B996;
  padding: 0;
  padding-right: 5px;
  border: 2px solid blue;
  margin: 0;
  display: inline-block;
}
.chat-box li{
  list-style-type: none;
  width: 40%;
  white-space: normal;
  word-break: break-all;
  border-radius: 10px;
  padding:5px ;
}
.flex-container-true{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-right: 10px;
}
.flex-container-false{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.chat-text-true{
  margin-left: auto;
  color: #232b2b;
  background-color: #F3DB74;
}
.chat-text-false{
  margin-right: auto;
  color: #232b2b;
  background-color: #F0E1B9;

}
.chat-box{
  border: 10px solid #A13941;
  border-top: 0px;
  border-bottom: 2px solid #A13941;
  width: 50%;
  display: block;
  padding: 0;
  margin: auto;
  background-color: #FCF6F5;
}
.chat-header{
  position: fixed;
  display: flex;
  width: 50%;
  height: 10%;
  align-items: center;
  background-color: #A13941FF;  
}
.chat-header .name{
  width: 50%;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: #232b2b;
  text-shadow: 2px 2px #FAA094;
}
.chat-header .connected{
  width: 50%;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #232b2b;
}
/* Typing */
@-webkit-keyframes dots{
  25% {background-color: gray;}
  50% {background-color: lightgrey;}
  75% {background-color: gray;}
  100% {background-color: lightgrey;}
}
@keyframes dots{
  25% {background-color: gray;}
  50% {background-color: lightgrey;}
  75% {background-color: gray;}
  100% {background-color: lightgrey;}
}
.dot{
  height: 15px;
  width: 15px;
  background-color: lightgrey;
  border-radius: 50%;
  margin: 2px;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s; 
  -webkit-animation-name: dots;
  -webkit-animation-duration: 2s; 
}